services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - JAVA_OPTS=-Xmx512m
      - VT_UPLOAD_DIR=/var/vemtambem/uploads
    volumes:
      - ./data/uploads:/var/vemtambem/uploads
